<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <!-- <partial name="_GenrePartial"/> -->
            </ul>
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                @*(after login) My Account, My Purchases, My Favorites*@
                <!-- <partial name="_LoginInfoPartial"/> -->
            </ul>
        </div>
    </div>
</nav>